*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#07111f;
color:white;
overflow:hidden;
}

.stars{
position:fixed;
inset:0;
background:
radial-gradient(white 1px, transparent 1px);
background-size:50px 50px;
opacity:.25;
}

.screen{
display:none;
height:100vh;
padding:40px;
justify-content:center;
align-items:center;
flex-direction:column;
text-align:center;
}

.active{
display:flex;
animation:fade .8s;
}

@keyframes fade{
from{
opacity:0;
transform:translateY(20px);
}
to{
opacity:1;
transform:translateY(0);
}
}

h1{
font-size:4rem;
margin-bottom:20px;
}

h2{
margin-bottom:20px;
}

button{
padding:15px 30px;
border:none;
border-radius:40px;
cursor:pointer;
margin-top:25px;
font-size:18px;
}

.card{
max-width:700px;
background:#10233e;
padding:30px;
border-radius:25px;
}

.gallery{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:15px;
margin-top:20px;
}

.gallery img{
width:180px;
height:180px;
object-fit:cover;
border-radius:20px;
cursor:pointer;
transition:.3s;
}

.gallery img:hover{
transform:scale(1.05);
}

.star-grid{
display:flex;
gap:25px;
font-size:60px;
margin-top:30px;
}

.star-grid span{
cursor:pointer;
}

.letter{
width:320px;
background:#10233e;
padding:20px;
margin:15px;
border-radius:20px;
cursor:pointer;
}

.content{
display:none;
margin-top:15px;
}

.final-text{
font-size:1.3rem;
line-height:2;
max-width:800px;
}
